<h2>Products</h2>

<!-- this repeats -->
<div *ngFor="let product of products">

  <!-- insert content here -->
  <h3>
    <a [title]="product.name + ' detailzzz'">
      {{product.name}}
    </a>
  </h3>

  <p *ngIf="product.description; else elseBlock">
    Description: {{product.description}}
  </p>
  <ng-template #elseBlock>No description available <br/><br/></ng-template>
  

  <button (click)="share()">
    Share
  </button>

</div>



<!-- <div *ngFor="let productproperty of product | keyvalue">
  {{productproperty.key}} => {{productproperty.value}}
</div> -->

